<h4 class="head">{{title}}</h4>
<form #requestForm="ngForm" class="editForm" validate>

  <div class="row">
    <md-input-container class="long-inputfield">
      <input #summa="ngModel" 
                    mdInput name="summa"  
                    [(ngModel)]="req.requestMoney" 
                    placeholder="Summa" 
                    required type="number"
                    min="1" 
                    max="10000">
      <md-hint [hidden]="summa.valid || summa.pristine" [ngStyle]="{'color': 'red'}" align="start"> {{errorRequestMoney()}}</md-hint>
    </md-input-container> 
  </div>
 
  <div class="row">
    <md-input-container class="long-inputfield">
      <input  #period="ngModel" 
                    mdInput name="period" 
                    [(ngModel)]="req.period" 
                    placeholder="Period" 
                    required type="number" 
                    min="1"
                    max="12">
      <md-hint align="end">{{period.value}} year</md-hint>
    </md-input-container>
  </div>

  <button md-raised-button type="submit" color="primary" routerLink="/personal" [disabled]="!requestForm.form.valid" (click)="save(requestForm)">Next</button> 
</form>


