<h4 class="head text-center">{{title}}</h4>
<form  [formGroup]="moneyForm"  class="editForm">

  <div class="row">
    <md-input-container class="long-inputfield input_form">
      <input    mdInput name="summa"  
                    [(ngModel)]="req.requestMoney" 
                    placeholder="Summa" 
                    type="number" 
                    [formControl]="summa">
      <md-error>Incorect summa. 
        <md-hint [hidden]="!summa.hasError('max10k')"> Require [1-10 000].</md-hint>
      </md-error>
    </md-input-container> 
  </div>

  <div class="row">
    <md-input-container class="long-inputfield input_form">
      <input    mdInput name="period"  
                    [(ngModel)]="req.period" 
                    placeholder="Period" 
                    type="number"  
                    [formControl]="period">
    <md-error [hidden]="period.valid || period.untouched"> Incorect period. </md-error>
    <md-error [hidden]="!period.hasError('max12')">Require [1- 12].</md-error>
    <md-hint align="end">  {{req.period}} year(s)</md-hint>
    </md-input-container> 
  </div>

 <md-grid-tile-footer>
    <button md-raised-button type="submit" color="primary" routerLink="/personal" [disabled]="!moneyForm.valid" (click)="save(moneyForm)">Next</button> 
 </md-grid-tile-footer>
</form>


