.nav,
.header {
    text-align: center;
}
.header {
  font-size: 1.5em;
}
.header_card {
  margin-bottom: 20px;
}

.progress {
  margin: 1%;
}

.midle {
  margin: 1% 15%;
}
 .primary {
   background-color: burlywood;
 }

.focus {
   background-color: blueviolet
 }
.nav_button {
  color: #263238;
  border: 1px solid #263238;
}