<md-card>
  <md-card-content>
    <section>
      <!-- Progres bar -->
      <md-progress-bar
          class="example-margin"
          md-mode="determinate"
          value="20">
      </md-progress-bar>
    </section>
    <button md-button routerLink="/request" routerLinkActive="primary">Period</button>
    <button md-button routerLink="/personal" routerLinkActive="primary">Info</button>
    <button md-button routerLink="/confirm" routerLinkActive="primary">Confirm</button>
  </md-card-content>
</md-card>