<h4 class="head text-center">{{title}}</h4>
<md-card>
  <md-list>

    <md-list-item>
      <md-icon md-list-icon>&#xE7FD;</md-icon>
      <h3 md-line> Name:  </h3>
      <p md-line>
        <span> {{formData.firstName}}  {{formData.lastName}} </span>
      </p>
    </md-list-item>

    <md-list-item>
      <md-icon md-list-icon>&#xE7F1;</md-icon>
      <h3 md-line> City:  </h3>
      <p md-line>
        <span> {{formData.city}}</span>
      </p>
    </md-list-item>

    <md-list-item>
      <md-icon md-list-icon>&#xE83A;</md-icon>
      <h3 md-line> Identifical:  </h3>
      <p md-line>
        <span> {{formData.id}}</span>
      </p>
    </md-list-item> 

    <md-list-item>
      <md-icon md-list-icon>&#xE263;</md-icon>
      <h3 md-line> Request money:  </h3>
      <p md-line>
        <span> {{formData.requestMoney}} $</span>
      </p>
    </md-list-item> 

    <md-list-item>
      <md-icon md-list-icon>&#xE924;</md-icon>
      <h3 md-line> Period:  </h3>
      <p md-line>
        <span> {{formData.period}}</span>
      </p>
    </md-list-item>
  </md-list>
</md-card>

<button md-raised-button type="submit" color="primary" routerLink="/request" (click)="submit()">Submit</button> 
