<h4 class="head text-center">{{title}}</h4>
<form  [formGroup]="personalForm"  class="editForm">

  <div class="row">
    <md-input-container class="long-inputfield">
      <input    mdInput name="firstName"  
                    [(ngModel)]="person.firstName" 
                    placeholder="First name" 
                    type="text" 
                    [formControl]="firstName">
      <md-hint [hidden]="firstName.valid || firstName.untouched" [ngStyle]="{'color': 'red'}" align="start"> Incorect first name</md-hint>
    </md-input-container> 
  </div>

  <div class="row">
    <md-input-container class="long-inputfield">
      <input    mdInput name="lastName"  
                    [(ngModel)]="person.lastName" 
                    placeholder="Last name" 
                    type="text"  
                    [formControl]="lastName">
    <md-hint [hidden]="lastName.valid || lastName.untouched" [ngStyle]="{'color': 'red'}" align="start"> Incorect last name</md-hint>
    </md-input-container> 
  </div>

  <div class="row">
    <md-input-container class="long-inputfield"> 
      <input    mdInput name="id"  
                    [(ngModel)]="person.id" 
                    placeholder="ID" 
                    type="text"  
                    [formControl]="idVl">
      <md-hint [hidden]="idVl.valid || idVl.untouched" [ngStyle]="{'color': 'red'}" align="start"> Incorect ID 
        <md-hint [hidden]="!idVl.hasError('21year')" [ngStyle]="{'color': 'red'}" align="start">| Only for 21+ y.o.</md-hint>
        <md-hint [hidden]="!idVl.hasError('10num')" [ngStyle]="{'color': 'red'}" align="start">| Required 10 numbers</md-hint>
      </md-hint>
      <md-hint align="end">  {{person.id}} / 10</md-hint>
    </md-input-container> 
  </div>

<md-input-container>
  <input  mdInput name="city"  
              placeholder="City" 
              type="text"
              [(ngModel)]="person.city" 
              [mdAutocomplete]="auto" 
              [formControl]="cityCtrl">
</md-input-container>
<md-hint [hidden]="city.valid || city.untouched" [ngStyle]="{'color': 'red'}" align="start"> Incorect city</md-hint>
<md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let city of filteredCity | async" [value]="city">
    {{ city }}
  </md-option>
</md-autocomplete>

  <button md-raised-button type="submit" color="primary" routerLink="/request">Previous</button> 
  <button md-raised-button type="submit" color="primary" routerLink="/confirm" [disabled]="!personalForm.valid" (click)="save(personalForm)">Next</button> 
</form>
