<h4 class="head text-center">{{title}}</h4>
<form  [formGroup]="personalForm"  class="editForm">

  <div class="row">
    <md-input-container class="long-inputfield">
      <input    mdInput name="firstName"  
                    [(ngModel)]="person.firstName" 
                    placeholder="First name" 
                    type="text" 
                    [formControl]="firstName">
      <md-hint [hidden]="firstName.valid || firstName.untouched" [ngStyle]="{'color': 'red'}" align="start"> Incorect first name</md-hint>
    </md-input-container> 
  </div>

  <div class="row">
    <md-input-container class="long-inputfield">
      <input    mdInput name="lastName"  
                    [(ngModel)]="person.lastName" 
                    placeholder="Last name" 
                    type="text"  
                    [formControl]="lastName">
    <md-hint [hidden]="lastName.valid || lastName.untouched" [ngStyle]="{'color': 'red'}" align="start"> Incorect last name</md-hint>
    </md-input-container> 
  </div>

  <div class="row">
    <md-input-container class="long-inputfield"> 
      <input    mdInput name="id"  
                    [(ngModel)]="person.id" 
                    placeholder="ID" 
                    type="text"  
                    [formControl]="idVl">
      <md-hint [hidden]="idVl.valid || idVl.untouched" [ngStyle]="{'color': 'red'}" align="start"> Incorect ID 
        <md-hint [hidden]="!idVl.hasError('21year')" [ngStyle]="{'color': 'red'}" align="start">. Only for 21+ y.o.</md-hint>
        <md-hint [hidden]="!idVl.hasError('10num')" [ngStyle]="{'color': 'red'}" align="start">. Required 10 numbers</md-hint>
      </md-hint>
      
      
      <!--<md-hint [hidden]="!idVl.hasError('21year')" [ngStyle]="{'color': 'red'}" align="start"> Only for 21+</md-hint>-->
      <md-hint align="end">  {{personalForm.value.id}} / 10</md-hint>
    </md-input-container> 
  </div>

  <div class="row">
    <md-input-container class="long-inputfield">
      <input    mdInput name="city"  
                    [(ngModel)]="person.city" 
                    placeholder="City" 
                    required type="text" 
                    [formControl]="city">
      <md-hint [hidden]="city.valid || city.untouched" [ngStyle]="{'color': 'red'}" align="start"> Incorect city</md-hint>
    </md-input-container> 
  </div>

  <button md-raised-button type="submit" color="primary" routerLink="/request">Previous</button> 
  <button md-raised-button type="submit" color="primary" routerLink="/confirm" [disabled]="!personalForm.valid" (click)="save(personalForm)">Next</button> 
</form>

<!-- ************************************************************-->
<!--<form class="editForm" [formGroup]="personalForm" (click)="save(personalForm)">

  <div>
    <label for="firstName">first Name</label>
    <input   [(ngModel)]="person.firstName" 
                type="text"
                name="firstName"
                id="firstName"
                [formControl]="firstName">
    <div [hidden]="firstName.valid || firstName.untouched">
      <div>
        The following problems have been found with the username:
      </div>
    </div>
  </div>

  <div>
    <label for="lastName">last Name</label>
    <input [(ngModel)]="person.lastName" 
                type="text"
                name="lastName"
                id="lastName"
                [formControl]="lastName">
    <div [hidden]="lastName.valid || lastName.untouched">
      <div>
        The following problems have been found with the username:
      </div>
    </div>
  </div>


  <div >
    <label for="id"> ID </label>
    <input [(ngModel)]="person.id" 
                type="number"
                name="name_id"
                id="some_id"
                [formControl]="idVl">
    <div [hidden]="idVl.valid || idVl.untouched">
      <div>
        The following problems have been found with the id:
      </div>
    </div>
  </div>

    <div>
    <label for="City">City</label>
    <input [(ngModel)]="person.city" 
              type="text"
              name="city"
              id="city"
              [formControl]="city">
    <div [hidden]="city.valid || city.untouched">
      <div>
        The following problems have been found with the username:
      </div>
    </div>
  </div>
  
  <button type="submit" [disabled]="!personalForm.valid"> OK </button>
</form>-->